In [2]:
import pandas as pd

data = [['TAwfik', 24],
    ['Mohamed', 30],
    ['yossef', 22],
    ['hammad', 60]]

df = pd.DataFrame(data, columns=['Name', 'Age'])

print(df)

      Name  Age
0   TAwfik   24
1  Mohamed   30
2   yossef   22
3   hammad   60

In [4]:
data= {'Tawfik': 24, 'Mohamed': 30, 'Yossef': 22, 'Hammad': 60}

df = pd.DataFrame(list(data.items()), columns=['Name', 'Age'])

print(df)

      Name  Age
0   Tawfik   24
1  Mohamed   30
2   Yossef   22
3   Hammad   60

In [6]:
record = { 
'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ], 
'Age': [21, 19, 20, 18, 17, 21], 
'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'], 
'Percentage': [88, 92, 95, 70, 65, 78] } 
columns = ['Name', 'Age', 'Stream', 'Percentage']

df = pd.DataFrame(record, columns=columns)

df[df['Percentage'] > 80]

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95